*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: none;
    background-color: #fff7ee;
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal;
    font-family: 'Cormorant Garamond', serif;
    font-kerning: none;
    text-decoration: none;
    letter-spacing: 0em;
    text-transform: none;
    font-style: normal;
    color: #fff;
    list-style-type: none;
    min-width: 662px;
}

.container {
    max-width: 1280px;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url('img/fundo_header.jpg');
    background-size: cover;
    background-position: center;
}

.author {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.course_title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 150px;
    font-family: 'Playfair Display', serif;
}

.course_title_start {
    font-size: 140px;
    margin-bottom: -100px;
}

.course_title_end {
    margin-top: 100px;
    font-size: 120px;
    text-align: center;
    max-width: 600px;
}

.button {
    width: 250px;
    padding: 15px;
    margin: 40px auto;
    border: none;
    background-color: #F0F0F0;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.button:hover {
    background-color: #E0E0E0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.button a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
}

.highlight {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.highlight_border {
    border: 1px solid #303030;
    padding: 40px;
}

.highlight_container {
    max-width: 1000px;
    background-image: url(img/fundo_joias.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.highlight_title {
    width: 500px;
    padding: 50px 20px;
}

.highlight_title p {
    font-weight: 400;
    font-size: 90px;
    text-align: center;
}

.highlight_title span {
    font-weight: 700;
}

.highlight_content {
    width: 370px;
    padding: 50px 20px;    
}

.highlight_content p {
    font-weight: 400;
    font-size: 45px;
    text-align: center;
}

.liberty {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    background-image: url(img/video.png);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.liberty_title {
    max-width: 600px;
}

.liberty_title h1 {
    font-weight: 400;
    font-size: 90px;
    text-align: center;
}

.liberty_title span {
    font-weight: 700;
}

.liberty_container {
    max-width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.liberty_container p {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.course_content {
    display: flex;
    flex-direction: column;
}

.course_content_title {
    margin: 50px auto;
    color: #000;
}

.course_content_title h1 {
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}

.course_content_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

.course_content_items img {
    border-radius: 20px;
    width: 450px;
}

.bonus {
    background-color: #303f3c;
    display: flex;
    flex-direction: column;
}

.bonus_title {
    padding: 40px;
}

.bonus_title h1 {
    font-size: 60px;
    font-weight: lighter;
}

.bonus_title p {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.bonus_content_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.bonus_content img{
    width: 350px;
    border-radius: 10px;
}

#checkout {
    display: flex;
    background-image: url("img/fundo_tecido.png");
    background-size: cover;
    background-position: bottom;
    justify-content: center;
}

.checkout_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    color: #303f3c;
    text-align: center;
}

.ckeckout_head h1 {
    font-size: 90px;
    font-weight: 400;
    margin-top: 20px;
}

.ckeckout_head p {
    font-size: 45px;
}

.line {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #303030;
}

.checkout_prepare_price {
    font-size: 42px;
}

.checkout_prepare_price del {
    text-decoration-color: red
}

.checkout_prepare_price span {
    background-color: #80d39b;
    font-size: 138px;
    color: #fff;
    padding: 10px 30px;
}

.checkout_prepare_price div {
    margin: 20px 10px;
}

.checkout_container .button {
    margin: 20px auto;
}

.button:hover {
    a {
        color: #303f3c;
    }
}

.ckeckout_span {
    margin-bottom: 20px;
    margin-top: -5px;
}
.ckeckout_span p {
    font-size: 19px;
    color: gray;
}

.guarantee {
    display: flex;
    justify-content: center;
}

.guarantee_container {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: #303f3c;
    margin: 50px auto;
}

.guarantee_container h1 {
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.guarantee_container img {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.guarantee_container p {
    font-size: 38px;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    background-image: url("img/fundo_cabelos.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
}

footer span {
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px #fff;
    font-size: 30px;
    font-weight: bold;
}

.footer_container {
    margin: 50px auto;
    max-width: 1300px;
}

.footer_container h1 {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.footer_container p {
    font-size: 38px;
    text-align: center;
    margin: 20px auto 50px auto;
    max-width: 900px;
}