* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff7ee;
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal;
    font-family: 'Cormorant Garamond', serif;
    font-kerning: none;
    text-decoration: none;
    letter-spacing: 0em;
    text-transform: none;
    font-style: normal;
    color: #fff;
    list-style-type: none;
}

header {
    width: 100%; 
    background-image: url('img/fundo_header.jpg');
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.course_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.course_title_start {
    font-weight: 700;
    font-size: 140px;
    margin-bottom: -60px;
}

.course_title_end {
    margin-top: 60px;
    font-weight: 400;
    font-size: 130px;
    text-align: center;
    max-width: 500px;
}

.button {
    padding: 20px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px auto 50px auto;
    text-align: center;
    max-width: 200px;
}

.button a {
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 20px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.highlight {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.highlight_border {
    border: 1px solid #303030;
    padding: 40px;
}

.highlight_container {
    max-width: 1000px;
    background-image: url(img/fundo_joias.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.highlight_title {
    width: 500px;
    padding: 50px 20px;
}

.highlight_title p {
    font-weight: 400;
    font-size: 90px;
    text-align: center;
}

.highlight_title span {
    font-weight: 700;
}

.highlight_content {
    width: 370px;
    padding: 50px 20px;    
}

.highlight_content p {
    font-weight: 400;
    font-size: 45px;
    text-align: center;
}

.liberty {
    display: flex;
    justify-content: center;
    padding: 80px 20px;
    background-image: url(img/video.png);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}

.liberty_title {
    max-width: 600px;
}

.liberty_title h1 {
    font-weight: 400;
    font-size: 90px;
    text-align: center;
}

.liberty_title span {
    font-weight: 700;
}

.liberty_container {
    max-width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.liberty_container p {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.course_content {
    display: flex;
    flex-direction: column;
}

.course_content_title {
    margin: 50px auto;
    color: #000;
}

.course_content_title h1 {
    font-size: 90px;
    font-weight: 400;
    text-align: center;
}

.course_content_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

.course_content_items img {
    border-radius: 20px;
    width: 450px;
}

.bonus {
    background-color: #303f3c;
    display: flex;
    flex-direction: column;
}

.bonus_title {
    padding: 40px;
}

.bonus_title h1 {
    font-size: 60px;
    font-weight: lighter;
}

.bonus_title p {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

.bonus_content_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.bonus_content img{
    width: 350px;
    border-radius: 10px;
}

#checkout {
    display: flex;
    background-image: url("img/fundo_tecido.png");
    background-size: cover;
    background-position: bottom;
    justify-content: center;
}

.checkout_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1300px;
    color: #303f3c;
    text-align: center;
}

.ckeckout_head h1 {
    font-size: 90px;
    font-weight: 400;
    margin-top: 20px;
}

.ckeckout_head p {
    font-size: 45px;
}

.line {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #303030;
}

.checkout_prepare_price {
    font-size: 42px;
}

.checkout_prepare_price del {
    text-decoration-color: red
}

.checkout_prepare_price span {
    background-color: #80d39b;
    font-size: 138px;
    color: #fff;
    padding: 10px 30px;
}

.checkout_prepare_price div {
    margin: 20px 10px;
}

.checkout_container .button {
    margin: 20px auto;
}

.checkout_container .button a {
    color: #fff;
}

.button:hover {
    a {
        color: #303f3c;
    }
}

.ckeckout_span {
    margin-bottom: 20px;
    margin-top: -5px;
}
.ckeckout_span p {
    font-size: 19px;
    color: gray;
}