
* {
    margin: 0px;
    padding: 0px;
}

#header-img {
    width: 100%;
    max-width: 350px;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}