/* Custom properties/variables  */
:root {
    --color-background: #F9FAFF;
    --color-primary: #FDC435;;
    --color-paragraph: #828282;
    --color-h1: #333333;
    --color-header: #25282B;

    --font-nunito: 'Nunito', sans-serif;
    --font-confortaa: 'Comfortaa', cursive;
    --font-raleway: 'Raleway', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-playfair: 'Playfair Display', serif;
  }

/* Base reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body {
    max-width: 1440px;
    background-color: var(--color-background);
    color: var(--color-header);
    font-family: var(--font-nunito);
    margin-right: auto;
    margin-left: auto;
}

/* Header and nav */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 32px;
    max-width: 1200px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 120px;
    z-index: 1;
}

#profile-link {
    font-family: var(--font-confortaa);
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: var(--color-header);
}

.nav a {
    margin: 0 24px;
    font-family: var(--font-raleway);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-header);
}

.nav a:hover {
    border-bottom: 2px solid var(--color-header);
    transition: 0.5s;
}

/* Welcome Section */
#welcome-section {
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcome-section img {
    max-width: 50%;
}

.welcome-section-content {
    max-width: 500px;
    margin-left: 15px;
    margin-top: 56px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-section-content span {
    font-family: var(--font-nunito);
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;

    color: var(--color-primary);

    margin-bottom: 12px;
}

.welcome-section-content h1 {
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: 64px;
    line-height: 77px;

    color: var(--color-h1);
}

.welcome-section-content-subheadline {
    margin: 32px 0;
}

.welcome-section-content-subheadline p {
    font-family: var(--font-nunito);
    font-size: 24px;
    line-height: 36px;

    color: var(--color-paragraph);
}

.button {
    padding: 8px 24px;
    border-radius: 8px;
    margin-right: 12px;

    border: 2px solid var(--color-header);
    box-sizing: border-box;

    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: var(--color-header);
}

.button:hover {
    transition: 0.5s;
    opacity: 0.7; 
    
    cursor: pointer;
}

.button-primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
}

.button-secundary {
    background: var(--color-background);
}

/* Section Projects */
#projects {
    width: 992px;
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects h1, footer h1 {
    font-family: var(--font-playfair);
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;

    color: var(--color-header);
}

.rectangle {
    width: 100px;
    height: 4px;
    background: var(--color-primary);
    border-radius: 2px;
    margin-top: 4px;
    margin-bottom: 40px;
}

.project {
    margin: 40px 0;
    width: 100%;

    display: flex;
    align-items: center;

    filter: drop-shadow(0px 6px 64px rgba(112, 144, 176, 0.1));
    border-radius: 24px;
    overflow: hidden;

    background: #FFFFFF;
}

.project-info {
    margin: 0 50px;
}

.project-title {
    font-family: var(--font-playfair);
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    color: var(--color-header);
}

.project-info p {
    font-family: var(--font-nunito);
    font-size: 18px;
    line-height: 27px;

    color: var(--color-paragraph);

    margin: 24px 0;
}

.project-info a {
    width: 150px;
    height: 43px;

    border: 1px solid var(--color-header);
    box-sizing: border-box;
    border-radius: 24px;

    padding: 8px 24px;

    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: var(--color-header);
}

.project-info a:hover {
    cursor: pointer;
    background-color: var(--color-primary);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(Vector.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer h1 {
    margin-top: 120px;
}

footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 400px;

    margin: 4px 0px;
}

.form-group label {
    margin: 4px 0px;
}

.form-group input, .form-group textarea {
    min-height: 40px;
    width: 100%;

    background: #FFFFFF;
    border: 1px solid #E8ECF4;
    box-sizing: border-box;
    border-radius: 8px;

    padding-left: 10px;

    resize: none;

    font-family: var(--font-roboto);
}

.form-group textarea {
    padding-top: 10px;
}

footer form button {
    width: 89px;
    height: 43px;

    margin-top: 20px;

    background: var(--color-primary);
    border-radius: 8px;

    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    color: var(--color-header);
}

.footer-icons {
    margin-top: 56px;
}

.footer-icons a {
    margin: 0 12px;
}

.footer-icons a:hover {
    transition: 0.5s;
    opacity: 0.7; 
}

.github-link {
    font-family: var(--font-nunito);
    font-size: 16px;
    line-height: 22px;

    color: var(--color-paragraph);

    margin-bottom: 200px;
}

.github-link:hover {
    transition: 0.5s;
    color: var(--color-h1);
    font-weight: bold;
}